- pretty_name = defined?(@project) ? @project.full_name : 'namespace / path'
- run_actions_text = "Perform common operations on GitLab project: #{pretty_name}"

.info-well
  .well-segment
    %p
      = s_("SlackService|This service allows users to perform common operations on this project by entering slash commands in Slack.")
      = link_to help_page_path('user/project/integrations/slack_slash_commands.md'), target: '_blank' do
        = _("View documentation")
        = sprite_icon('external-link', size: 16)
    %p.inline
      = s_("SlackService|See list of available commands in Slack after setting up this service, by entering")
    %kbd.inline /&lt;command&gt; help
    - unless @service.instance?
      %p= _("To set up this service:")
      %ul.list-unstyled.indent-list
        %li
          1.
          = link_to 'https://my.slack.com/services/new/slash-commands', target: '_blank', rel: 'noreferrer noopener nofollow' do
            Add a slash command
            = sprite_icon('external-link', size: 16)
          in your Slack team with these options:

      %hr

      .help-form
        .form-group
          = label_tag nil, _('Command'), class: 'col-12 col-form-label label-bold'
          .col-12
            %p= s_('SlackService|Fill in the word that works best for your team.')
            %p
              = _("Suggestions:")
              %code= 'gitlab'
              %code= @project.path # Path contains no spaces, but dashes
              %code= @project.full_path

        .form-group
          = label_tag :url, 'URL', class: 'col-12 col-form-label label-bold'
          .col-12.input-group
            = text_field_tag :url, service_trigger_url(subject), class: 'form-control form-control-sm', readonly: 'readonly'
            .input-group-append
              = clipboard_button(target: '#url', class: 'input-group-text')

        .form-group
          = label_tag nil, _('Method'), class: 'col-12 col-form-label label-bold'
          .col-12 POST

        .form-group
          = label_tag :customize_name, _('Customize name'), class: 'col-12 col-form-label label-bold'
          .col-12.input-group
            = text_field_tag :customize_name, 'GitLab', class: 'form-control form-control-sm', readonly: 'readonly'
            .input-group-append
              = clipboard_button(target: '#customize_name', class: 'input-group-text')

        .form-group
          = label_tag nil, _('Customize icon'), class: 'col-12 col-form-label label-bold'
          .col-12
            = image_tag(asset_url('slash-command-logo.png'), width: 36, height: 36, class: 'mr-3')
            = link_to(_('Download image'), asset_url('gitlab_logo.png'), class: 'btn btn-sm', target: '_blank', rel: 'noopener noreferrer')

        .form-group
          = label_tag nil, _('Autocomplete'), class: 'col-12 col-form-label label-bold'
          .col-12 Show this command in the autocomplete list

        .form-group
          = label_tag :autocomplete_description, _('Autocomplete description'), class: 'col-12 col-form-label label-bold'
          .col-12.input-group
            = text_field_tag :autocomplete_description, run_actions_text, class: 'form-control form-control-sm', readonly: 'readonly'
            .input-group-append
              = clipboard_button(target: '#autocomplete_description', class: 'input-group-text')

        .form-group
          = label_tag :autocomplete_usage_hint, _('Autocomplete usage hint'), class: 'col-12 col-form-label label-bold'
          .col-12.input-group
            = text_field_tag :autocomplete_usage_hint, '[help]', class: 'form-control form-control-sm', readonly: 'readonly'
            .input-group-append
              = clipboard_button(target: '#autocomplete_usage_hint', class: 'input-group-text')

        .form-group
          = label_tag :descriptive_label, _('Descriptive label'), class: 'col-12 col-form-label label-bold'
          .col-12.input-group
            = text_field_tag :descriptive_label, _('Perform common operations on GitLab project'), class: 'form-control form-control-sm', readonly: 'readonly'
            .input-group-append
              = clipboard_button(target: '#descriptive_label', class: 'input-group-text')

      %hr

      %ul.list-unstyled.indent-list
        %li
          = s_("SlackService|2. Paste the <strong>Token</strong> into the field below").html_safe
        %li
          = s_("SlackService|3. Select the <strong>Active</strong> checkbox, press <strong>Save changes</strong> and start using GitLab inside Slack!").html_safe
